@keyframes slide-bck-center {
    0% {
        transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        transform: translateZ(-100px);
        transform: translateZ(-100px);
    }
}



